@font-face {
    font-family: point;
    src: url("/fonts/CursedTimerUlil-Aznm.ttf");
}

body {
    font-family: point, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main {
    max-width: 700px;
    min-width: 700px;
    min-height: 450px;
    max-height: 450px;
    background-image: url("epic.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#score-section {
    background-color: #1B244A;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 30px 50px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9AABD8;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    margin-top: 10px;
}

.btn-section {
    display: flex;
}

.increment-btn {
    width: 50px;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    margin: 0 6px;
    font-family: point, sans-serif;
}

#save-btn {
    background: darkgreen;
    font-family: point, sans-serif;
    font-size: 30px;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 5px;
}

.e-score {
    margin: 0 auto;
    background-color: black;
    padding: 10px 50px;
    color: #F94F6D;
    margin-bottom: 20px;
    min-width: 50px;
    max-width: 50px;
}

.score-team {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

#save-el {
    color: #9AABD8;
}

