body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main {
    position: relative;
    max-width: 803px;
    min-width: 408px;
    min-height: 440px;
    max-height: 440px;
}

#main::before {
    content: "";
    background-image: url("epic.webp");
    background-size: cover;
    inset: 0px;
    opacity: 0.25;
    position: absolute;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 50px;
    background-color: black;
    position: relative;
}

.increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.e-score {
    margin: 0 auto;
}

.score-team {
    display: flex;
    flex-direction: column
}

